@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme) prefix(wpbcn);
@import 'tailwindcss/utilities.css' layer(utilities) prefix(wpbcn);

.settings_page_wp-beacon #wpcontent {
	padding-left: 0;
}

*,
::before,
::after {
	border-width: 0;
	border-style: solid;
	border-color: var(--color-slate-500);
}
